### Jekyll ###
_site/
_includes/_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
*-cache/
Gemfile.lock
generated/

### Emacs backup files ###
*~
\#*\#
.#*
*.elc
.emacs.desktop
.emacs.desktop.lock
auto-save-list
tramp

### Large test files ###
*.tar.gz

### Temporary files ###
*.sav
*.bak


### MacOS ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
