<div style="clear: both;"/>
<footer class="site-footer">
  2020 &copy; Druce Vertes | View <a href="https://github.com/druce/druce.github.io" target="_blank">this</a> on Github | <a href="{{ '/tags.html' | relative_url }}">Tags</a> | <a href="{{ '/contact.html' | relative_url }}">Contact</a> | <a href="{{ '/FAQ.html' | relative_url }}">FAQ</a>

  <p>
    <a href="{{ site.baseurl }}/feed.xml" target="_blank">
      <img src="{{ '/assets/images/logo_rss.png' | relative_url }}" />
    </a>
    <a href="https://twitter.com/streeteye/" target="_blank">
      <img src="{{ '/assets/images/logo_twitter.png' | relative_url }}" />
    </a>
    <a href="https://github.com/druce" target="_blank">
      <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
    </a>
    <a href="https://www.linkedin.com/in/drucevertes" target="_blank">
      <img src="{{ '/assets/images/logo_github.png' | relative_url }}" />
    </a>
    
  </p>
</footer>
<!-- For Latex -->
<script type="text/javascript" id="MathJax-script" async
	src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
