<div style="clear: both;"/>
<footer class="site-footer">
  {{ 'now' | date: "%Y" }} &copy; Druce Vertes | <a href="{{ '/tags.html' | relative_url }}">Archive</a> | <a href="{{ '/contact.html' | relative_url }}">Contact</a> 

  <p>
    <a href="{{ site.baseurl }}/feed.xml" target="_blank">
      <i class="fas fa-rss-square" style="color: #ee802f; font-size: 20px;"></i>      
    </a>
    <a href="https://twitter.com/streeteye/" target="_blank">
      <i class="fab fa-twitter-square" style="color: #1da1f2; font-size: 20px;"></i>      
    </a>
    <a href="https://github.com/druce" target="_blank">
      <i class="fab fa-github-square" style="color: #6e5494; font-size: 20px;"></i>      
    </a>
    <a href="https://www.linkedin.com/in/drucevertes" target="_blank">
      <i class="fab fa-linkedin" style="color: #0e76a8; font-size: 20px;"></i>      
    </a>
    
  </p>
</footer>
<!-- For Latex -->
<script type="text/javascript" id="MathJax-script" async
	src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js">
</script>
