<header class="site-header" role="banner" id="header-bar">

    <div class="wrapper">
        {% assign default_paths = site.pages | map: "path" %}
        <a class="site-title" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a>

	<nav class="site-nav" role="navigation" aria-label="Main navigation">
	  <a class="dv-page-link" href="{{ '/about.html' | relative_url }}"><i class="fa fa-address-card" aria-hidden="true"></i> About</a>
	  <a class="dv-page-link" href="{{ '/tags.html' | relative_url }}"><i class='fa fa-folder-open' aria-hidden="true"></i> Archive</a>
	</nav>

    </div>

</header>
