// .nav-container {
//   background-color: #fff;
//   border-radius: 4px;
//   box-shadow: 0 1px 2px 0 rgba(153,153,153,0.35);
//   padding: 1em;
//   border: 1px solid #eee;
//   display: block;
//   max-width: 400px;
//   margin: 0 auto;
//   text-align: center;
// }

ul,
li {
  list-style: none;
  -webkit-padding-start: 0;
}

//Navigation menu
.nav-items {
    margin-bottom: 0;
    margin-left: 0;
}


.nav-item {
  padding-right: 0.5em;
  padding-bottom: 1em;
  padding-top: 1em;
  display: inline;
}

//Dropdown menu
.nav-item-dropdown {
  position: relative;
  
  &:hover > .dropdown-menu {
    display: block;
    opacity: 1;
  }
}

.dropdown-trigger {
    position: relative;
  
    &:focus + .dropdown-menu {
	display: block;
	opacity: 1;
    }
  
    &::after {
	content: "›";
	position: absolute;
	color: #fff;
	font-size: 24px;
	font-weight: bold;
	transform: rotate(90deg);
	top: -5px;
	right: -15px;
    }
}

.dropdown-menu {
  background-color: #fff;
  display: inline-block;
  text-align: right;
  position: absolute;
  top: 2.5rem;
  right: -10px;
  opacity: 0;
  transition: opacity 0.5s ease; 
  width: 160px;

  a {
    color: #fff;
  }
}

.dropdown-menu-item {
  cursor: pointer;
  // padding: 1em;
  text-align: center;
  line-height: 2.5;
  font-size: $small-font-size;
  background-color: #eef;
  color: $navy-color-dark;
  a {
      background-color: #eef;
      color: $navy-color-dark;
      &:hover {
	  background-color: #eef;
	  color: darken($orange-color, 15%);
      }
  }
}
