@import "fonts-google";
@import "rouge-github";
@import "dvtable";

@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.65 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #c20 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$crimson-color:         #c20;
$crimson-color-light:   #e31;
$crimson-color-very-light:   lighten($crimson-color, 60%) !default;
$crimson-color-dark:    #a10;

$orange-color:          #ff8f26;

$navy-color:         #118;
$navy-color-light:   #13c;
$navy-color-very-light:   lighten($navy-color, 40%) !default;
$navy-color-dark:    #115;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout"
;

// Pagination styles
.pagination {
  text-align: center;
  margin: $spacing-unit * 2 0;
  padding: $spacing-unit 0;
  border-top: 1px solid $grey-color-light;

  .previous, .next {
    color: $grey-color;
    font-size: $small-font-size;
    margin: 0 15px;
  }

  a.previous, a.next {
    color: $brand-color;
    text-decoration: none;

    &:hover {
      color: $crimson-color-light;
      text-decoration: underline;
    }
  }

  .page_number {
    color: $grey-color;
    font-size: $small-font-size;
    margin: 0 15px;
  }

  @include media-query($on-palm) {
    .previous, .next, .page_number {
      display: block;
      margin: 10px 0;
    }
  }
}

// Archive page styles
.year-navigation {
  background-color: $crimson-color-very-light;
  padding: $spacing-unit / 2;
  margin: $spacing-unit 0;
  border-radius: 4px;
  border-left: 4px solid $brand-color;

  p {
    margin: 0;
  }

  .year-link {
    color: $brand-color;
    text-decoration: none;
    font-weight: 500;
    padding: 2px 4px;

    &:hover {
      color: $crimson-color-light;
      text-decoration: underline;
    }
  }
}

.year-section {
  margin: $spacing-unit * 1.5 0;

  .year-heading {
    color: $brand-color;
    border-bottom: 2px solid $grey-color-light;
    padding-bottom: $spacing-unit / 4;
    margin-bottom: $spacing-unit / 2;

    .year-count {
      color: $grey-color;
      font-size: $small-font-size;
      font-weight: normal;
    }
  }

  .posts {
    list-style: none;
    margin-left: 0;

    li {
      margin-bottom: $spacing-unit / 4;
      line-height: 1.8;

      .post-date {
        color: $grey-color;
        font-family: monospace;
        font-size: $small-font-size;
        display: inline-block;
        min-width: 60px;
      }

      a {
        color: $navy-color;
        text-decoration: none;

        &:hover {
          color: $brand-color;
          text-decoration: underline;
        }
      }
    }
  }
}

/* Accessibility: Skip to content link */
.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: $crimson-color;
  color: #fff;
  padding: 8px 16px;
  text-decoration: none;
  font-weight: 600;
  z-index: 100;
  border-radius: 0 0 4px 0;

  &:focus {
    top: 0;
    outline: 3px solid $orange-color;
    outline-offset: 2px;
  }
}
