@import "fonts";
@import "rouge-github";
@import "dvtable";

@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Open Sans", "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.65 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #c20 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

$crimson-color:         #c20;
$crimson-color-light:   #e31;
$crimson-color-very-light:   lighten($crimson-color, 60%) !default;
$crimson-color-dark:    #a10;

$orange-color:          #ff8f26;

$navy-color:         #118;
$navy-color-light:   #13c;
$navy-color-very-light:   lighten($navy-color, 40%) !default;
$navy-color-dark:    #115;


// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout"
;

// Pagination styles
.pagination {
  text-align: center;
  margin: $spacing-unit * 2 0;
  padding: $spacing-unit 0;
  border-top: 1px solid $grey-color-light;

  .previous, .next {
    color: $grey-color;
    font-size: $small-font-size;
    margin: 0 15px;
  }

  a.previous, a.next {
    color: $brand-color;
    text-decoration: none;

    &:hover {
      color: $crimson-color-light;
      text-decoration: underline;
    }
  }

  .page_number {
    color: $grey-color;
    font-size: $small-font-size;
    margin: 0 15px;
  }

  @include media-query($on-palm) {
    .previous, .next, .page_number {
      display: block;
      margin: 10px 0;
    }
  }
}
